* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Encabezado */
header {
    background-color: #3b6ea5;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Menú de navegación */
nav ul {
    list-style-type: none;
    padding: 10px;
}

nav ul li {
    margin: 5px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 80vh; /* Altura completa para mayor estructura */
}

/* Barras laterales */
aside {
    width: 15%;
    background-color: #8b5a2b;
    padding: 20px;
    color: white;
    text-align: center;
}

/* Sección principal */
main {
    width: 70%;
    background-color: #a3892e;
    padding: 20px;
    color: white;
    text-align: justify;
}

/* Pie de página */
footer {
    background-color: #3b6ea5;
    color: white;
    text-align: left;
    padding: 10px;
    font-size: 14px;
}


